.playground {
  display: flex;
  flex-direction: column;
}
.playground > .row {
  display: flex;
  align-items: center;
}
.playground > .row > .box {
  margin: 2.5px;
}
.box {
  height: 30px;
  width: 30px;
  font-weight: bold;
  cursor: pointer;
}

.X {
  color: blue;
}

.O {
  color: red;
}
